<%- include('./partials/head.ejs'); %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li>Dashboard</li>
            <li>Cupons</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="card has-table">
        <header class="card-header">
            <a href="/create-coupon" class="card-header-icon">
                <button class="button is-primary">Adicionar novo +</button>
            </a>
        </header>
        <div class="card-content">
          <div class="b-table has-pagination">
            <div class="table-wrapper has-mobile-cards">
              <table class="table is-fullwidth is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>Valor</th>
                  <th>Ativo</th>
                  <th>Descrição</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% coupons.forEach(coupon => { %>
                <tr>
                  <td data-label="Name"><%= coupon.name %></td>
                  <td data-label="Type"><%= coupon.type %></td>
                  <td data-label="Value"><%= coupon.value %></td>
                  <td data-label="Active"><%= (coupon.active) ? 'Sim' : 'Não' %></td>
                  <td data-label="Description"><%= coupon.description %></td>
                  <td class="is-actions-cell">
                    <div class="buttons is-right">
                      <button class="button is-small is-link" type="button" title="Editar">
                        <span class="icon"><i class="fa-solid fa-pencil"></i></span>
                      </button>
                      <button class="button is-small is-danger jb-modal" data-target="sample-modal" type="button" title="Excluir">
                        <span class="icon"><i class="fa-solid fa-trash"></i></span>
                      </button>
                    </div>
                  </td>
                </tr>
                <% }); %>
                </tbody>
              </table>
            </div>
            <div class="notification">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div class="buttons has-addons">
                      <% for (var i =1; i <=pages;  i++ ) { %>
                        <a href="/coupons/all/<%= i %>"><button type="button" class="button"><%= i %></button></a>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <small>Página <%= page %> de <%= pages %></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <%- include('./partials/footer.ejs'); %>
